body {
margin: 0;
font-family: 'Raleway', sans-serif;
}

section {
background: #2E2E2E;
background-size: cover;
height: 90px;
background-repeat: no-repeat;
background-position: center center;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   box-shadow: #FFFFFF;
}

.logo img {
    margin-left: 2.3em;
    max-width: 100%;
}

ul {
   list-style-type: none;
   display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

ul li a {
margin-left: 100px;
padding: 10px 20px;
text-transform: uppercase;
text-decoration: none;
color: #FFFFFF;
font-weight: bold;

}

ul li a:hover {
   background: #FFFFFF;
   color: #2E2E2E;
   transition: .5s
}

.h1 {
  position: absolute;
  width: 401px;
  height: 34px;
  left: 99px;
  top: 132px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  color: #08546A;
}

.tabl {
position: absolute;
width: 1067px;
height: 714px;
left: 100px;
top: 250px;
}

.tb1 {
  position: absolute;
  width: 85px;
  height: 25px;
  left: 184px;
  top: 300px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.tb2 {
  position: absolute;
  width: 85px;
  height: 25px;
  left: 184px;
  top: 370px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.tb3 {
  position: absolute;
  width: 85px;
  height: 25px;
  left: 184px;
  top: 435px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.tb4 {
  position: absolute;
  width: 85px;
  height: 25px;
  left: 184px;
  top: 500px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.tb5 {
  position: absolute;
  width: 85px;
  height: 25px;
  left: 184px;
  top: 565px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.tb6 {
  position: absolute;
  width: 85px;
  height: 25px;
  left: 184px;
  top: 630px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.tb7 {
  position: absolute;
  width: 85px;
  height: 25px;
  left: 184px;
  top: 698px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.tb8 {
  position: absolute;
  width: 85px;
  height: 25px;
  left: 184px;
  top: 765px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.tb9 {
  position: absolute;
  width: 85px;
  height: 25px;
  left: 184px;
  top: 835px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.tb10 {
  position: absolute;
  width: 85px;
  height: 25px;
  left: 184px;
  top: 900px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.urov1 {
  position: absolute;
  width: 116px;
  height: 20px;
  left: 657px;
  top: 320px;
}

.urov2 {
  position: absolute;
  width: 116px;
  height: 20px;
  left: 657px;
  top: 385px;
}

.urov3 {
  position: absolute;
  width: 116px;
  height: 20px;
  left: 657px;
  top: 450px;
}

.urov4 {
  position: absolute;
  width: 116px;
  height: 20px;
  left: 657px;
  top: 520px;
}

.urov5 {
  position: absolute;
  width: 116px;
  height: 20px;
  left: 657px;
  top: 585px;
}

.urov6 {
  position: absolute;
  width: 116px;
  height: 20px;
  left: 657px;
  top: 650px;
}

.urov7 {
  position: absolute;
  width: 116px;
  height: 20px;
  left: 657px;
  top: 720px;
}

.urov8 {
  position: absolute;
  width: 116px;
  height: 20px;
  left: 657px;
  top: 785px;
}

.urov9 {
  position: absolute;
  width: 116px;
  height: 20px;
  left: 657px;
  top: 850px;
}

.urov10 {
  position: absolute;
  width: 116px;
  height: 20px;
  left: 657px;
  top: 920px;
}

.c1 {
  position: absolute;
width: 44px;
height: 19px;
left: 392px;
top: 300px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #08546A;
}

.c2 {
  position: absolute;
width: 44px;
height: 19px;
left: 392px;
top: 370px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #08546A;
}

.c3 {
  position: absolute;
width: 44px;
height: 19px;
left: 392px;
top: 435px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #08546A;
}

.c4 {
  position: absolute;
width: 44px;
height: 19px;
left: 392px;
top: 500px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #08546A;
}

.c5 {
  position: absolute;
width: 44px;
height: 19px;
left: 392px;
top: 565px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #08546A;
}

.c6 {
  position: absolute;
width: 44px;
height: 19px;
left: 392px;
top: 630px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #08546A;
}

.c7 {
  position: absolute;
width: 44px;
height: 19px;
left: 392px;
top: 698px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #08546A;
}

.c8 {
  position: absolute;
width: 44px;
height: 19px;
left: 392px;
top: 765px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #08546A;
}

.c9 {
  position: absolute;
width: 44px;
height: 19px;
left: 392px;
top: 835px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #08546A;
}

.c10 {
  position: absolute;
width: 44px;
height: 19px;
left: 392px;
top: 900px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #08546A;
}

.v1 {
  position: absolute;
width: 101px;
height: 22px;
left: 489px;
top: 300px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #08546A;
}

.v2 {
  position: absolute;
  width: 101px;
  height: 22px;
  left: 489px;
  top: 370px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #08546A;
}

.v3 {
  position: absolute;
  width: 101px;
  height: 22px;
  left: 489px;
  top: 435px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #08546A;
}

.v4 {
  position: absolute;
  width: 101px;
  height: 22px;
  left: 489px;
  top: 500px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #08546A;
}

.v5 {
  position: absolute;
  width: 101px;
  height: 22px;
  left: 489px;
  top: 565px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #08546A;
}

.v6 {
  position: absolute;
  width: 101px;
  height: 22px;
  left: 489px;
  top: 630px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #08546A;
}

.v7 {
  position: absolute;
  width: 101px;
  height: 22px;
  left: 489px;
  top: 698px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #08546A;
}

.v8 {
  position: absolute;
  width: 101px;
  height: 22px;
  left: 489px;
  top: 765px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #08546A;
}

.v9 {
  position: absolute;
  width: 101px;
  height: 22px;
  left: 489px;
  top: 835px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #08546A;
}

.v10 {
  position: absolute;
  width: 101px;
  height: 22px;
  left: 489px;
  top: 900px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #08546A;
}

.m1 {
  position: absolute;
  width: 49px;
  height: 25px;
  left: 875px;
  top: 300px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.m2 {
  position: absolute;
  width: 49px;
  height: 25px;
  left: 875px;
  top: 370px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.m3 {
  position: absolute;
  width: 49px;
  height: 25px;
  left: 875px;
  top: 435px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.m4 {
  position: absolute;
  width: 49px;
  height: 25px;
  left: 875px;
  top: 500px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.m5 {
  position: absolute;
  width: 49px;
  height: 25px;
  left: 875px;
  top: 565px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.m6 {
  position: absolute;
  width: 49px;
  height: 25px;
  left: 875px;
  top: 630px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.m7 {
  position: absolute;
  width: 49px;
  height: 25px;
  left: 875px;
  top: 698px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.m8 {
  position: absolute;
  width: 49px;
  height: 25px;
  left: 875px;
  top: 765px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.m9 {
  position: absolute;
  width: 49px;
  height: 25px;
  left: 875px;
  top: 835px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.m10 {
  position: absolute;
  width: 49px;
  height: 25px;
  left: 875px;
  top: 900px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.place {
  position: absolute;
width: 67px;
height: 23px;
left: 184px;
top: 235px;

font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #08546A;
}

.number {
  position: absolute;
  width: 67px;
  height: 23px;
  left: 366px;
  top: 235px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.data {
  position: absolute;
  width: 67px;
  height: 23px;
  left: 510px;
  top: 235px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.hrd {
  position: absolute;
  width: 67px;
  height: 23px;
  left: 657px;
  top: 235px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.pay {
  position: absolute;
  width: 67px;
  height: 23px;
  left: 855px;
  top: 235px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.bron {
  position: absolute;
  width: 67px;
  height: 23px;
  left: 184px;
  top: 235px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #08546A;
}

.button1 {
  position: absolute;
  width: 131px;
  height: 26px;
left: 1013px;
top: 310px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}
