body {
margin: 0;
font-family: 'Raleway', sans-serif;
}

section {
background: #2E2E2E;
background-size: cover;
height: 90px;
background-repeat: no-repeat;
background-position: center center;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   box-shadow: #FFFFFF;
}

.logo img {
    margin-left: 2.3em;
    max-width: 100%;
}

ul {
   list-style-type: none;
   display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

ul li a {
margin-left: 100px;
    padding: 10px 20px;
    text-transform: uppercase;
   text-decoration: none;
   color: #FFFFFF;
font-weight: bold;

}

ul li a:hover {
   background: #FFFFFF;
   color: #2E2E2E;
   transition: .5s
}

#slides{
  position: relative;
  height: 150px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing{
  opacity: 1;
  z-index: 2;
}

.slide{
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
}

.slide:nth-of-type(1){
  background: red;
}
.slide:nth-of-type(2){
  background: orange;
}
.slide:nth-of-type(3){
  background: green;
}
.slide:nth-of-type(4){
  background: blue;
}
.slide:nth-of-type(5){
  background: purple;
}


#rectangle {
position: absolute;
width: 100%;
height: 61px;
left: 0px;
top: 780px;

background: #000000;
}

#line {
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0px;
  top: 1480px;

  border: 2px dashed #000000;
}

 .h1 {
   position: absolute;
   width: 932px;
   height: 43px;
   left: 97px;
   top: 930px;

   font-family: Raleway;
   font-style: normal;
   font-weight: 500;
   font-size: 36px;
   line-height: 42px;
 color: #000000;
 }

.kv1 {
position: absolute;
width: 277px;
height: 307px;
left: 100px;
top: 1050px;
}

.kv2 {
  position: absolute;
  width: 277px;
  height: 307px;
  left: 397px;
  top: 1050px;
}

.kv3 {
  position: absolute;
  width: 277px;
  height: 307px;
  left: 693px;
  top: 1050px;
}

.kv4 {
  position: absolute;
width: 277px;
height: 307px;
left: 990px;
top: 1050px;
}

.n1 {
  position: absolute;
width: 105px;
height: 115.5px;
left: 99px;
top: 1695px;
}

.n2 {
  position: absolute;
  width: 122px;
  height: 134.2px;
  left: 745px;
  top: 2108px;
}

.n3 {
  position: absolute;
width: 105px;
height: 115.5px;
left: 102px;
top: 2472px;
}

.n4 {
  position: absolute;
  width: 105px;
  height: 115.5px;
  left: 741px;
  top: 2792px;
}

.n5 {
  position: absolute;
  width: 105px;
  height: 115.5px;
  left: 469px;
  top: 3112px;
}

.p1 {
  position: absolute;
width: 219px;
height: 68px;
left: 125px;
top: 1060px;

font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 21px;

color: #000000
}

.p2 {
  position: absolute;
  width: 230px;
  height: 46px;
  left: 125px;
  top: 1280px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  color: #000000;
}

.p3 {
  position: absolute;
  width: 218px;
  height: 68px;
  left: 430px;
  top: 1060px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;

  color: #000000;
}

.p4 {
  position: absolute;
  width: 214px;
  height: 89px;
  left: 430px;
  top: 1245px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;

  color: #000000;
}

.p5 {
  position: absolute;
width: 208px;
height: 116px;
left: 730px;
top: 1060px;

font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #000000;
}

.p6 {
  position: absolute;
  width: 214px;
  height: 89px;
  left: 730px;
  top: 1250px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;

  color: #000000;
}

.p7 {
  position: absolute;
width: 214px;
height: 68px;
left: 1020px;
top: 1060px;

font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #000000;
}

.p8 {
  position: absolute;
  width: 204px;
  height: 89px;
  left: 1020px;
  top: 1230px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;

  color: #000000;
}

.h2 {
  position: absolute;
width: 673px;
height: 43px;
left: 97px;
top: 1560px;

font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 45px;

color: #000000;
}

.p9 {
  position: absolute;
width: 443px;
height: 132px;
left: 99px;
top: 1845px;

font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #000000;
}

.p10 {
  position: absolute;
  width: 439px;
  height: 135px;
  left: 741px;
  top: 2264px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}


.p11 {
  position: absolute;
  width: 440px;
  height: 156px;
  left: 100px;
  top: 2609px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}


.p12 {
  position: absolute;
  width: 438px;
  height: 166px;
  left: 741px;
  top: 2929px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}


.p13 {
  position: absolute;
  width: 173px;
  height: 38px;
  left: 467px;
  top: 3248px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.lin {
  position: absolute;
  width: 445px;
  height: 1148px;
  left: 283px;
  top: 2007px;
}



.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 3450px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #27AE60;
  outline: none;
  transition: 1s ease-in-out;

}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #27AE60;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #27AE60;
  color: white;

}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: black;
  font-size: 18px;
  font-weight: 100;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  position: absolute;
width: 500px;
height: 560px;
left: 400px;
top: 2800px;
}

.form-container {
  max-width: 500px;
  padding: 50px;
  background-color: white;

}

.form-container input[type=text], .form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
